* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Palanquin", sans-serif;
}

.highlight {
  color: #e76c1f;
}
